/* 

Background (Jet Black): 333533
(Eerie Black): 242423
(Saffron): F5CB5C
(Alabaster(Gray)):E8EDDF
Platinum:CFDBD5

Battery:
Orange: ffb800
Red: ff5714
neon green: 89fc00
darker bright green: 29bf12

 */


body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f5f5f5;
}

#battery-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ddd;
    height: 40px;
    width: 80%;
    margin: 0 auto;
    border-radius: 5px;
    overflow: hidden;
}

.subdivision {
    background-color: #4caf50;
    height: 100%;
}

#countdown {
    margin-top: 20px;
}
