
/* 

Background (Jet Black): 333533
(Eerie Black): 242423
(Saffron): F5CB5C
(Alabaster(Gray)):E8EDDF
Platinum:CFDBD5

Battery:
Orange: ffb800
Red: ff5714
neon green: 89fc00
darker bright green: 29bf12

 */

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #333533;
    color: #E8EDDF;
}

#battery-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #242423;
    height: 40px;
    width: 80%;
    margin: 0 auto;
    border-radius: 5px;
    overflow: hidden;
    border: 2px solid #E8EDDF;
}

.subdivision {
    background-color: #F5CB5C;
    height: 100%;
}

#countdown {
    margin-top: 20px;
}

.footer {
    background-color: #242423;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer a {
    color: #E8EDDF;
    text-decoration: none;
    margin: 0 10px;
}

.footer a:hover {
    color: #CFDBD5;
}